@{
    ViewData["Title"] = "Gift Card";
}

<div class="d-flex justify-content-between">
    <div class="d-flex flex-column" style="width: 66%; background-color: #BF9858; padding: 7rem 8rem 7rem 3rem;">
        <p class="fw-light text-light m-0">
            GIFT THE GIFT OF GORGEOUS:
        </p>

        <h1 class="fw-bold text-light mb-3">
            Bridget Sandals Gift Cards on Sale Now!
        </h1>

        <p class="text-light" style="padding-right: 18em">
            Happy gifting!
        </p>
    </div>
    <div class="" style="width: 34%">
        <img src="/assets/gift-certificate.jpg" width="100%" height="auto" />
    </div>
</div>

<div class="px-5 mt-5">
    <p class="fs-4">Here's why a Bridget Sandals gift card is the perfect present:</p>
    <ul class="w-75">
        <li class="mb-3">
            <span class="fw-bold">Quality that lasts: </span>
            Made with the finest leathers and expert craftsmanship, Bridget Sandals are built to last. 
            They're not just beautiful; they're comfortable and supportive, too.
        </li>
        <li class="mb-3">
            <span class="fw-bold">Style for every taste: </span>
            From classic flats to trendy wedges, Bridget Sandals has something for everyone. Whether 
            your recipient is a boho adventurer or a city chic fashionista, they'll find the perfect 
            pair to express their unique style.
        </li>
        <li class="mb-3">
            <span class="fw-bold">A touch of luxury: </span>
            Every Bridget Sandal is a work of art, and owning a pair feels like a special treat. Your 
            gift card will give someone the chance to indulge in a little luxury they'll truly appreciate.
        </li>
        <li class="mb-3">
            <span class="fw-bold">The gift of choice: </span>
            Let your recipient choose the perfect pair for their feet and their style. A Bridget Sandals 
            gift card is like giving them a personal shopping spree at a one-of-a-kind boutique.
        </li>
    </ul>

    <div class="w-100 d-flex justify-content-center mt-5">
        <img src="/assets/gift-card.png" width="800" height="auto" />
    </div>

    <p class="text-center mt-3" style="font-size: 4rem">Contact Us!</p>
</div>

