
@{
    ViewData["Title"] = "Reviews";
}

<div class="d-flex justify-content-between">
    <div class="d-flex flex-column" style="width: 63%; background-color: #F5F5F5; padding: 7rem 8rem 7rem 3rem;">
        <h1 class="fw-bold text-light text-dark mb-3">
            Bridget Sandals: Walk a Mile in Our Customer's Shoes
        </h1>

        <p class="text-light text-dark" style="padding-right: 10em; line-height: 28px">
            Bridget Sandals aren't just about beautiful footwear; they're about 
            creating happy feet and lasting memories. And what better way to understand 
            the impact of our sandals than through the words of our amazing customers?
        </p>
    </div>
    <div class="" style="width: 37%">
        <img src="/assets/review.png" width="100%" height="auto" />
    </div>
</div>

<div class="px-5 mt-5 w-100 d-flex justify-content-center">
    <p class=" fs-4 text-center fw-bold w-50">Here's a glimpse into what people are saying about Bridget Sandals:</p>
</div>


<section class="testimonials-carousel w-75 px-5 mt-5">
    <div class="testimonials-wrapper">
        <div class="testimonial">
            <img src="https://pretty-girls.net/wp-content/uploads/2019/07/petite3ssence.jpg" alt="Sarah M.">
            <p>"These sandals are like walking on a cloud! The leather is so soft and the fit is perfect. I've never had a pair of sandals that I love so much."</p>
            <span>- Sarah M.</span>
        </div>
        <div class="testimonial">
            <img src="https://th.bing.com/th/id/R.7205f2e52e4ee4736f8317cf356c9c5d?rik=W%2bVCQIYgWIeerw&pid=ImgRaw&r=0" alt="Emily L.">
            <p>"Bridget Sandals are the perfect addition to my summer wardrobe. They're stylish, comfortable, and go with everything. I get compliments on them every time I wear them!"</p>
            <span>- Emily L.</span>
        </div>
        <div class="testimonial">
            <img src="https://th.bing.com/th/id/OIP.paWEMFx1zv4IbnnHDzfDQAHaGS?rs=1&pid=ImgDetMain" alt="Ashley K.">
            <p>"I'm so glad I finally took the plunge and bought a pair of Bridget Sandals. They're worth every penny! The quality is outstanding, and they've held up beautifully even after months of wear."</p>
            <span>- Ashley K.</span>
        </div>
        <div class="testimonial">
            <img src="https://th.bing.com/th/id/OIP.PGUJYjd17f5InTwASIXjSgHaLG?w=683&h=1024&rs=1&pid=ImgDetMain" alt="Maria F.">
            <p>"Bridget Sandals are more than just shoes; they're a work of art. I love the unique designs and the attention to detail. They make me feel special every time I put them on."</p>
            <span>- Maria F.</span>
        </div>
    </div>
</section>

