@{
    ViewData["Title"] = "About Us";
}
<div class="px-5 text-center" style="margin-top: 5em">
    <h1 class="text-light text-dark ">WE BELIEVE IN LEATHER</h1>
    <p class="fs-4">
        Welcome to a sanctuary for the modern soul, where leather sandals <br /> 
        become an extension of your personal journey.
    </p>
    <img src="/assets/store.png" width="800" height="auto" style="margin-top: 4em" />
</div>

<div class="p-5 mt-5 d-flex justify-content-between" style="background-color: #FCF9EC">
    <div>
        <p>OUR MISSION</p>
        <p class="fs-5">Improving prospects for long term-survival and prosperity through:</p>
        <p class="w-75">
            Maintaining the current cadre of loyal customers and developing lasting relationships
            with new and existing clientele, suppliers and retailers alike. <br /><br />

            Making use of materials of premier, internationally accepted quality and producing
            a range of products with style and reliability. <br /><br />

            Becoming a more viable and sustainable force in the local and international footwear
            market, therefore ensuring a market niche for this end brand product.
        </p>
    </div>
    <div>
        <img src="https://prima.co/cdn/shop/files/image1.webp?v=1686055023&width=750" width="200" height="auto" />
    </div>
</div>

<p class="p-5">
    Designer Bridget Brown feels that our feet are an expression of the soul 
    and her inspired creativity results in exquisite hand made ladies leather 
    sandals which have become a status brand for today's Caribbean woman in the fashion know.
    A self taught designer, Bridget Brown has defied the odds and created a sustainable 
    international lifestyle brand inspired by the look and feel of the Caribbean.
    Divinely inspired by nature and always channeling in the moment, Bridget designs 
    from a spiritually sexy space where women's feet come alive in the simplistic brilliance of each style.

    Drawing from her culture and internal source of inspiration, Bridget's philosophy is that her sandals are ornaments for the feet which can serve as a conversation piece.
    Bridget as she is known to her clients/fans, is a picturesque Jamaican woman with golden locks and a sweet mouth who makes every customer feel at home in her presence.
    Her extraordinary design talent is matched by the quality of the finished product and her considerable charm.
</p>
