
@{
    ViewData["Title"] = "Contact Us";
}

<div>
    <div class="d-flex flex-column w-100" style="background-color: #9F998C; padding: 7rem 8rem 7rem 3rem;">
        <p class="fw-light text-light m-0">
            CONTACT
        </p>

        <h1 class="fw-bold text-light mb-3">
            Get In Touch
        </h1>
    </div>
</div>

<section class="contact-us mt-5">
    <div class="container">
        <h1 class="text-center">Contact Us</h1>
        <img src="images/contact-us-illustration.jpg" alt="Contact Us Illustration" class="img-fluid">
        <form>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name">
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email address">
            </div>

            <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control" id="message" rows="3"></textarea>
            </div>


            <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
    </div>
</section>

