@{
    ViewData["Title"] = "Home";
}

<div class="search-box">
    <span>
        <input type="search" placeholder="Find the best sandals that suits you..." class="f-12" />
        <img src="/icons8-search-50.png" width="35" height="35"/>
    </span>
    
    <div class="customer-rep">
        <p class="m-0 f-12">Customer Representative: <strong>(876) 123 - 4567</strong></p>
    </div>
</div>

<img src="/Banner.png" width="100%" height="auto" alt="Banner" />



<div class="row">
    <div class="column">
        <img src="~/icons8-shipping.gif" />
        <h6>Delivery</h6>
        <p>Delivery options are available</p>
    </div>
    <div class="column">
        <img src="/icons8-certificate.gif" />
        <h6>Gift Cards</h6>
        <p>For your loved ones in any amount</p>
    </div>
    <div class="column">
        <img src="/icons8-store.gif" />
        <h6>Store Pickup</h6>
        <p>Pick your order up yourself, for free</p>
    </div>
    <div class="column">
        <img src="~/icons8-discount.gif" />
        <h6>Amazing Value</h6>
        <p>Offering brand new monthly discounts</p>
    </div>
</div>
